<!doctype html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <title>AngularJS Gaming Vibe</title>
  <link rel="stylesheet" href="main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
  <div ng-controller="GameController as vm">
    <h1>Gaming Vibe</h1>
    <input type="text" ng-model="vm.inputValue" placeholder="Add game" />
    <button ng-click="vm.addGame()">Add</button>
    <ul>
      <li ng-repeat="game in vm.games track by game.id">
        <input type="checkbox" ng-checked="game.completed" ng-click="vm.toggleGame(game.id)" />
        <span ng-class="{'completed': game.completed}">{{game.title}}</span>
        <button ng-click="vm.deleteGame(game.id)">Delete</button>
      </li>
    </ul>
  </div>
  <script src="app.js"></script>
</body>
</html>
